.container {
  background-color: var(--tertiary-color);
  text-align: center;
  width: 100%;
  max-height: 173px;
  position: relative;
}

.grid-container {
  background-color: var(--tertiary-color);
  display: grid;
  grid-gap: 0rem 1rem; 
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50px;
  padding: 2% 5%;
  width: 100%;
  max-height: 173px;
}
.container h1 {
  color: #ffffff;
  font-size: var(--heading1);
  font-weight: var(--font-bold);
  padding: 1rem;
}

.date {
  display: flex;
  appearance: none;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: var(--text2);
  font-weight: var(--font-medium);
  padding: 0.6rem 11rem 0.6rem 2.5rem;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
}
.date {
  min-height: 50px;
}

.limitation {
  max-height: 50px;
}

.location, .calendar {
    align-self: center;
    color: var(--secondary-color);
    font-size: 26px;
    position: absolute;
    top: 63%;
    left: 6%;
    z-index: 2;
}
.calendar {
  left: 37%;
}

.icon-select-box {
  display: flex;
}

.button-search, .selected-dates-button {
  color: #FFFFFF;
  background: var(--primary-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-size: var(--button2);
  font-weight: var(--font-bold);
  max-width: 272px;
}

.selected-dates-button {
  text-align: right;
  font-size: var(--button1);
  font-weight: var(--font-bold);
  position: absolute;
  right: 3%;
  bottom: 4%;
  padding: 0.4rem 3.5rem;
}

.calendar-button {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.visible {
  position: relative;
  z-index: 2;
}

.city-container {
  display: flex;
  position: relative;
}
.city-name {
  flex-direction: column;
}

.option-location-icon {
  position: absolute;
  font-size: 20px;
  top: 20%;
  left: -13%;
}

@media all and (max-width: 769px) {
  .css-1rv6p7s-ValueContainer, .date, .button-search {
    max-width: 220px;
  }
  .limitation {
    padding-left: 30px;
    padding-right: 40px;
  }
  .container h1 {
    font-size: var(--heading2);
  }
  .location, .calendar {
    top: 62%;
  }
  .calendar {
    left: 38.5%;
  }
}

@media all and (max-width: 415px) {
  .container, .grid-container {
    max-height: 643px;
  }
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
  }
  .date, .button-search {
    min-height: 50px;
    max-width: 373px;
    padding: 0.6rem 12rem 0.6rem 2.5rem;
    margin: 0.8rem 0rem;
  }
  .date {
    margin-bottom: 0rem;
  }
  .calendar-button {
    max-height: 50px;
  }
  .icon-select-box {
    max-height: 100px;
  }
  .button-search {
    padding: 0.6rem 5rem;
  }
  .location, .calendar {
    left: 7.5%;
    top: 40.5%;
  }
  .calendar {
    top: 62%;
  }
}