.container {
  background-color: var(--tertiary-color);
  text-align: center;
  width: 100%;
  position: relative;
  padding: 10px 0 25px 0; /* padding: 10px 0 25px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(10px, 3.9%, 40px);
  padding-right: clamp(10px, 3.9%, 40px);
}

.grid-container {
  background-color: var(--tertiary-color);
  width: 100%;
  max-height: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

form.grid-container > div {
  margin-right: 10px;
}
.container h1 {
  color: #ffffff;
  font-size: var(--heading1);
  font-weight: var(--font-bold);
  padding-bottom: 10px;
}

.date {
  background-color: white;
  border:0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: var(--text2);
  font-weight: var(--font-medium);
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: left;
  padding-left: 11%;
}

.icon-select-box {
  position: relative;
  width: clamp(254px,33vw,420px);
  max-width: 420px;
  height: 40px;
}

.button-search,
.selected-dates-button {
  color: #ffffff;
  background: var(--primary-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-size: var(--button2);
  font-weight: var(--font-bold);
}
.button-search{
  width: clamp(124px,18vw,206px);
}

.container-calendar-selected-dates {
  width: 100%;
  background-color: white;
  padding: 0 1rem 1rem 0;
  text-align: right;
}



.selected-dates-button {
  text-align: right;
  font-size: var(--button1);
  font-weight: var(--font-bold);
  position: relative;
  padding: 0.4rem 3.5rem;
}

.calendar-button {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
}


.calendar-button::before {
  display: inline-block;
  width: 24px;
  height: 25px;
  content: "";
  position: absolute;
  background: url("img/calendar.png") no-repeat;
  left: 10px;
  top: 9px;
}

.calendar-button > div {
  position: absolute;
  top: 120%;  
}

.hidden {
  display: none;
}

.visible {
  position: relative;
  z-index: 2;
}

.visible-tablet {
  position: absolute;
  top: 120%;
  right: -50%;
  z-index: 100;
}

.city-container {
  display: flex;
  position: relative;
  
}
.city-name {
  flex-direction: column;
  position: relative;
}

.option-location-icon {
  position: absolute;
  font-size: 20px;
  top: 20%;
  left: -6%;
}
div.icon-select-box > div > div:first-child {
  border: 0;
}

/* pendiente reducir las dos clases anteriores */

div.icon-select-box > div:nth-child(2),
div.icon-select-box > div:nth-child(2) > div:first-child {
  height: 100%;
}

.titleCity, .titleCountry{
  font-size: var(--text2);
  font-weight: 500;
}

.titleCountry{
  color: var(--secondary-color);
} 



@media all and(max-width:1200px) {
  .calendar-button > div {
    right: 0;
  }
}

@media all and (max-width: 769px) {
  .container {
    padding: 25px 0;
  }

  .container h1 {
    font-size: var(--heading2);
  }

  .container h1 {
    font-size: var(--heading2);
  }
  .city-icon{    
    left: -17%;    
  }

  .iconCityBar {
    left: 4%;    
  }
}

@media all and (max-width: 600px) {
  
  
  .grid-container {
    flex-direction: column;
    max-height: 100%;
  }
  .icon-select-box {
    width: 100%;
    max-width: 100%;
  }

  form.grid-container > div {
    height: 40px;
  }
  form.grid-container>div:nth-child(2){
    margin:10px 0;
  }
  .button-search{
    width: 100%;
    height: 40px;
  }

}
/*
@media all and (max-width: 415px) {
  .container-calendar-selected-dates {
    padding: 0 0 1rem 0;
    text-align: center;
  }

  .city-icon{    
    left: -10%;    
  }

  .iconCityBar {
    left: 3%;    
  }

  .calendar {
    left: 3%;
  }
} */