.categoryContainer { 
    width: 100%;   
    display:flex;
    justify-content: center; 
    background-color: white;  
    position: absolute;
    top: 231px;       
}

.categoryBox{
    color: var(--secondary-color);
    display: flex;            
}

.categoryCard {
    width: 22.7vw;      
    margin: 7px;      
    border-radius: 10px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);     
}

.categoryCard:hover {
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.50);  
}

.categoryImage {
    background-size: cover;    
    border-radius: 10px 10px 0px 0px;
    height:183.81px;    
    width: 22.7vw;
}

.image1 {
    background-image: url("./img/hoteles.jpg");
}

.image2 {
    background-image: url("./img/hostels.jpg");
}

.image3 {
    background-image: url("./img/departamentos.jpeg");
}

.image4 {
    background-image: url("./img/bedAndBreakfast.jpg");
}

.categoryBlock h2 {    
    color: var(--secondary-color); 
    font-size: var(--heading2);
    font-weight: var(--font-bold);
    margin-bottom: 9px;
    margin-left: 7px;    
    margin-top: 16px;
}

.categoryType {
    display: flex;
    flex-direction: column;
    height: 63.7px;         
    justify-content: center;   
    margin-left: 11px;
    margin-right: 11px;
}

.categoryType h3 {
    font-size: var(--heading3);
    font-weight: var(--font-bold);
}

.categoryType p {
    font-size: var(--text2);
}

@media all and (max-width: 769px) {    
    .categoryBox{      
        flex-wrap:wrap;                   
    }

    .categoryCard {
        width: 45.2vw;            
    }
    
    .categoryImage {          
        width: 45.2vw;
        height:181.3px; 
    }

    .categoryType {        
        height: 62.7px;       
    }
}

@media all and (max-width: 415px) {
    .categoryCard {
        width: 94.7vw;            
    }

    .categoryImage {          
        width: 94.7vw;
        height:205.1px; 
    }

    .categoryType {        
        height: 70.9px;       
    }

    .categoryBlock h2 {  
        font-size: var(--heading3);
        margin-bottom: 3px;
        margin-top: 36px;        
    }
    
}



