.booking {
  flex-direction: column;
}

/* Estilos de titleBar */

.titleBar {
  background-color: var(--tertiary-color);
  color: white;
}

.titleBar .titleBarChild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding-left: clamp(20px, 3.9%, 40px);
  padding-right: clamp(20px, 3.9%, 40px);
}
.titleBarChild div p {
  text-transform: uppercase;
}

.titleBarChild .iconLocation {
  cursor: pointer;
  width: 25px;
}

/* Subtitlo completa tu datos */

.bookingChild > h2 {
  padding-left: clamp(20px, 3.9%, 40px);
  color: var(--secondary-color);
  font-size: var(--heading2);
  font-weight: var(--font-bold);
  margin-top: 30px;
}

/* Estilos container */

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px clamp(10px, 3.9%, 40px);
}

.container > div:first-child {
  width: 64%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > div:last-child {
  width: 32%;
}
/* Estilos FormBooking */
.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.containerForm h3,
.containerArrival h3 {
  color: var(--secondary-color);
  font-size: var(--heading2);
  padding: 20px 0 10px 0;
}

.containerForm form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}

.block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.labelInputBooking {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 48%;
}

.labelInputBooking label, .observaciones label {
  color: var(--secondary-color);
  font-size: var(--text2);
  font-weight: var(--font-medium);
}

.labelInputBooking input {
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  color: var(--tertiary-color);
  font-size: var(--text2);
  font-weight: 500;
  padding: 15px;
  width: 100%;
}

.labelInputBooking input:disabled {
  background-color: #dfe4ea;
}

.containerErrorBooking{
  color: red;
  font-size: 12pt;
  font-weight: bold;
  height:1vh;
  padding-top: 3px;
  text-align: center;
}

.observaciones textarea{
  border: 1px solid rgba(0,0,0,.4) !important;
  border-radius: 5px;
  font-size: var(--text2);
  margin: 0 !important;
  outline: none;
  padding: 10px;
  resize:none;
}


/*Estilos ArrivalTimeBar*/

.containerArrival {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.containerArrival>div {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 15px;
}

.containerArrival h4 {
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.containerArrival h4::before {
  content: url("./icons/iconOk.svg");
  margin-right: 4px;
  vertical-align: -3px;
}

.containerArrival label {
  color: var(--secondary-color);
  font-size: 10pt;
  margin-bottom: 10px;
}
.selectContainer{
  width:50%
}

.timeOption{
  padding-right: calc(100% - 70.46px);
  text-align-last: justify;
  
}

/* Estilos DetailBar */

.detailBar {
  background-color: white;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
}

.detailBar > div {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detailBar > h2 {
  color: var(--secondary-color);
  font-size: var(--heading2);
  font-weight: var(--font-bold);
  padding: 0 clamp(10px, 3.9%, 40px) 20px clamp(10px, 3.9%, 40px);
}

.detailBar > div > img {
  height: 350px;
  object-fit: cover;
}

.detail {
  padding: 20px clamp(10px, 3.9%, 40px);
  font-size: var(--text1);
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.detailProduct p:first-child {
  font-size: var(--text1);
  color: gray;
  font-weight: var(--font-bold);
}

.detailProduct > h3 {
  color: var(--secondary-color);
  font-size: var(--heading2);
  font-weight: var(--font-bold);
}

.detailBar .star {
  width: 14px;
}

.detailProduct p img {
  padding-right: 10px;
}

.detailCheck {
  padding: 20px 0;
}

.detailCheck div {
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.detailCheck div p {
  font-size: var(--text1);
}

.detail button {
  width: 100%;
  background-color: var(--primary-color);
  padding: 15px 0;
  color: white;
  font-weight: var(--font-bold);
  border-radius: 10px;
  border: none;
  font-size: var(--text1);
  transition: all 0.3s;
  width: 100%;
}

.detail button:hover {
  transform: scale(1.05);
}

.detail button:active {
  transform: scale(0.85);
}

/* Estilos infoBar */

.infoBar {
  background-color: white;
  padding: 20px 0;
}
.infoBarChild {
  padding-left: clamp(20px, 3.9%, 40px);
  padding-right: clamp(20px, 3.9%, 40px);
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.infoBarChild h2 {
  color: var(--secondary-color);
  font-size: var(--heading2);
  font-weight: var(--font-bold);
  margin-bottom: 30px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 30px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.info div {
  width: clamp(236.2px, 30vw, 420px);
}

.info div h3 {
  color: var(--secondary-color);
  font-size: var(--heading3);
  font-weight: var(--font-bold);
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.info div h3,
.info div p {
  padding: 10px 0;
}

/*Estilos Succeed*/

.containerSucceed {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
  max-height: 350px;
  max-width: 600px;
  min-height: 300px;
  min-width: 460px;
  padding: 35px;
  width: 46vw;
}

.containerSucceed img {
  width: 78px;
}

.containerSucceed h3 {
  color: var(--primary-color);
  font-size: 24px;
}

.containerSucceed p {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: var(--font-bold);
}

.containerSucceed a {
  width: 55%;
}

.containerSucceed a button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 16px;
  font-weight: var(--font-bold);
  padding: 8px;
  width: 100%;
}

/*  media queries responsive */

@media all and (max-width: 1200px) { 

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px clamp(10px, 3.9%, 40px);
  }

  .container > div:first-child {
    width: 100%;
  }

  .container > div:last-child {
    width: 100%;
    margin-top: 40px;
  }

  .detailBar > div {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 clamp(10px, 3.9%, 40px);
  }

  .detailBar > div > img,
  .detail {
    width: 49%;
    height: 390px;
  }

  .detail {
    padding: 0;
  }
}

@media all and (max-width: 769px) {
  .barraIzq {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
  .container > div:first-child {
     width: 100%;
  }

  .containerSucceed {
    min-width: 370px;
    padding: 10px;
    width: 75vw;
  }

  .containerSucceed a {
    width: 45%;
  }
  .containerErrorBooking{
    min-width: 300px;
    font-size: 10pt;
  }
  
}

@media all and (max-width: 680px) {
  .detailBar > div {
    flex-direction: column;
  }
  .detailBar > div > img {
    width: 100%;
    height: 250px;
  }

  .detailBar > div > img,
  .detail {
    width: 100%;
    height: 100%;
  }

  .contenedorCalendario > div > div > div {
    flex-direction: column;
  }
  .contenedorCalendario > div > div {
    height: 100%;
  }

  .contenedorCalendario > div > div > div > div:first-child {
    border-right: none;
  }

  .contenedorCalendario > div > div > div > div > div:nth-child(3) {
    min-height: 260px !important;
  }

  .containerArrival form {
    width: 100%;
  } 

  .containerErrorBooking{
   
    font-size: 12pt;
  }
}

@media all and (max-width: 415px) {
  .containerForm {
    max-height: 450px;
    min-height: 360px;
  }
  .containerForm h3 {
    font-size: var(--heading2);
  }
  .containerForm form {
    min-height: 320px;
    height: 55vh;
    padding: 15px;
  }
  .block {
    flex-direction: column;
    justify-content: space-around;
    height: 50%;   
    padding:  0;
  }

  .labelInputBooking {
    width: 100%;
  }

  .labelInputBooking input {
    padding: 12px;
  }

  .detail {
    padding: 0;
    height: 100%;
  }

  .selectContainer{
    width:100%
  }

  .containerPrincipalSucceed {
    height: calc(100vh - 93px - 58px);
  }

  .containerSucceed {
    height: 35vh;
    min-height: 260px;
    min-width: 300px;
    padding: 25px 10px;
  }

  .containerSucceed h3 {
    font-size: 20px;
  }

  .containerSucceed p {
    font-size: 16px;
  }

  .containerSucceed a {
    width: 68%;
  }

  .containerSucceed a button {
    padding: 10px;
  }

  .containerErrorBooking{
    font-size: 10pt;
    min-width: none;
  }
}