.inputLabel,
.formFlex {
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px - 58px);
  justify-content: center;
  top: 0;
  width: 100%;
}

.container h3 {
  color: var(--primary-color);
  font-size: var(--heading1);
  font-weight: var(--font-bold);
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
}

.formFlex {
  align-items: center;
  height: 54vh;
  justify-content: space-evenly;
  width: 100%;
}

.login{
  height: 35vh;
}

.fullName {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 34vw;
}

.inputLabel label {
  color: var(--secondary-color);
  font-size: var(--text2);
  font-weight: var(--font-medium);
}

.inputLabel {
  height: 65px;
  justify-content: space-between;  
}

.inputLabel input,
.boton button {
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px #d1cfcf;
  height: 40px;
  width: 34vw;
}

.inputLabel input{
  padding-left: 10px;
}

.inputLabel input[type="text"] {
  width: 16.5vw;
}

form ul {
  height: 20px;
}

.errorContainer{
  height: 2.5rem;
  font-size: 12px;
}

.error {
  color: red;
  font-weight: bold;
  text-align: right;
  width: 34vw;
}

.boton button,
.inputLabel p {
  align-self: center;
  width: 206px;
}

.inputLabel button {
  background-color: var(--primary-color);
  color: white;
  font-size: var(--button2);
  font-weight: var(--font-bold);
}

.inputLabel p,
.inputLabel p a {
  font-size: 12px;
  text-decoration: none;
}

.inputLabel p a {
  color: #4285f4;
}

.inputError input{
  background-color: #FFE1E1;
  border: solid 1px red;
}

/* media queries */

@media all and (max-width: 769px) {
  .container{
    height: calc(100vh - 99px - 58px);
    
  }

  .inputLabel input,
  .boton button,
  .inputLabel input[type="text"],
  .error {
    width: 45vw;
  }

  .formFlex{
    height:60vh;
  }

  .fullName {
    flex-direction: column;
  }

  .apellido{
    margin-top: 5px;
  }

  .login{
    height:38vh;
  } 
}

@media all and (max-width: 415px) {
  .container {
    height: calc(95vh - 93px - 58px);    
    justify-content: space-evenly;
  }

  .container h3 {
    margin:0;
    padding-bottom: 25px;
  }
  
  .inputLabel input,
  .boton button,
  .inputLabel input[type="text"],
  .error{
    width: 72vw;
  }
}
