.cardsContainer {
  display: flex;
  justify-content: flex-start;
  padding: 0 2%;
  ;
}

.cardsBlock h2 {
  color: var(--secondary-color);
  font-size: var(--heading2);
  font-weight: var(--font-bold);
  margin-bottom: 9px;
  margin-top: 16px;
}

.cardsBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* 
.cardBox:nth-child(even){
  margin-left:1%;
} */

.cardBox {
  align-items: center;
  background-color: white;
  border: 1px solid #dfe4ea;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--secondary-color);
  display: flex;
  height: 283px;
  justify-content: space-evenly;
  margin: 5px 0;
  max-width: 780px; 
  width: 46vw;
  min-width: 635px;
  flex-wrap: wrap;
}

.cardBox:hover {
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.cardImage {
  background-size: cover;
  border-radius: 10px;
  height: 93%;
  width: 47%;
  position: relative;
}

.cardImage .image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.cardImage .iconHeart {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  z-index: 99;
}


.cardInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 93%;
  justify-content: space-between;
  width: 47%;
}

.cardCategory {
  display: flex;
  font-size: var(--text3);
  text-transform: uppercase;
}

.cardCategory .star {
  width: 14px;
  height: 14px;
}

.cardCategory p,
.iconLocation {
  margin-right: 4px;
}

.cardName {
  font-size: var(--heading3);
  font-weight: var(--font-bold);
  max-width: 100%;
}

.cardHeaderBox {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardHeadline,
.cardScore {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardHeadline {
  max-width: 70%;
}

.cardScore {
  align-items: flex-end;
}

.cardScoreNumber{
    min-width: 45px;
}


.cardScore .iconEight {
  bottom: 5.5px;
  left: 23px;
  position: relative;
  z-index: 99;
}

.cardScoreWords {
  font-size: var(--text3);
  font-weight: var(--font-bold);
  overflow: hidden;
  white-space: nowrap;
}

.cardLocation {
  font-size: var(--text3);
  font-weight: var(--font-bold);
}

.cardLocation span {
  color: var(--primary-color);
  font-weight: var(--font-bold);
  margin-left: 3px;
  text-transform: uppercase;
}

.cardIcons {
  display: flex;
}

.cardIcons .iconSwimming {
  margin-left: 7px;
}

.cardDescription {
  font-size: var(--text3);
  font-weight: var(--font-bold);
  overflow: hidden;
  padding-top: 5px;
}

.cardDescription p {
  font-weight: var(--font-bold);
  padding: 0 2px;
  overflow: hidden;
  max-height: 50px;
}

.cardDescription span {
  color: var(--primary-color);
  font-weight: var(--font-bold);
  margin-left: 3px;
  margin-top: 8px;
}

.cardButton2 {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  color: white;
  font-size: var(--text3);
  font-weight: var(--font-bold);
  height: 40px;
  justify-content: center;
  text-align: center;
  width: 100%;
}


@media all and (max-width:1330px){
  .cardsBox{
    justify-content: center;
  }
}

@media all and (max-width: 769px) {
  .cardBox {
  max-width: 710px; 
  width: 97vw;
  min-width: 585px;
  }
}

@media all and (max-width: 610px){
  .cardBox {
    height: 566px;
    min-width: 90vw;
    width: 95vw;
    margin: 5px 0;
    }

    .cardImage{
      width: 98%;
      height: 47%;
    }
    .cardInfo{
      width: 98%;
      height: 47%;
    }
}