.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;   
    display:flex;
    justify-content: center;      
}

.cardsBlock {
    width: 100%;
    
       
}

.cardsBlock h2 {    
    color: var(--secondary-color); 
    font-size: var(--heading2);
    font-weight: var(--font-bold);
    margin-bottom: 9px;
    margin-left: 7px;    
    margin-top: 16px;
    
}

.cardBox {
    align-items: center;    
    background-color: white;
    border: 1px solid #DFE4EA;  
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--secondary-color);   
    display: flex;
    height: 279px;  
    justify-content: space-between;
    width: 52vw;        
}

.cardImage  {
    /* background-image: url("https://cdn.pixabay.com/photo/2017/05/31/10/23/manor-house-2359884_960_720.jpg"); */
    background-size: cover;
    border-radius: 10px;
    height:93%;
    margin-left: 1px;
    margin-right: 10px;   
    width:48.5%;    
}

.cardImage .image {
    border-radius: 10px;
    height:100%;   
    width: 100%
}

.cardImage .iconHeart {
    height: 25px;
    position: relative;
    bottom: -25px;
    left: 100px;
    width: 25px;
    z-index: 100;    
}

.cardImage svg {              
    bottom: -17px;
    left: 240px;
    position: relative;
    z-index: 100;
}

.cardInfo {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height:93%;
    justify-content: space-between;
    margin: 0 12px;
    width: 48.5%;
}

.cardCategory {
    display: flex;
    font-size: var(--text3);
    text-transform: uppercase;
}

.cardCategory p, .iconLocation {
    margin-right: 4px;
}

.cardName {
    font-size: var(--heading3);
    font-weight: var(--font-bold);
}

.cardHeaderBox {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardHeadline, .cardScore {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardScore {
    align-items: flex-end;
}

.cardScore .iconEight {
    bottom: 5.5px;
    left: 23px;
    position: relative;
    z-index: 99;
}

.cardScoreWords {
    font-size: var(--text3);
    font-weight: var(--font-bold);
}

.cardLocation {
    font-size: var(--text3);
    font-weight: var(--font-bold);
}

.cardLocation span{
    color: var(--primary-color);
    font-weight: var(--font-bold);
    margin-left: 3px;
    text-transform: uppercase;
}

.cardIcons {
    display:flex;    
}

.cardIcons .iconSwimming {
    margin-left: 7px;
}

.cardDescription {
    font-size: var(--text3);
    font-weight: var(--font-bold);
}

.cardDescription span {
    color: var(--primary-color);
    font-weight: var(--font-bold);
}

.cardButton2 {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    color: white;  
    font-size: var(--text3);
    font-weight: var(--font-bold);
    height: 40px;
    justify-content: center;
    text-align: center;
    width: 100%;  
}

@media all and (max-width: 769px) {    
    
}

@media all and (max-width: 415px) {
    
}



