a:visited, a:link, a:active {
  text-decoration: none;
}



.cardsBlock h2 {
  color: var(--secondary-color);
  font-size: var(--heading2);
  font-weight: var(--font-bold);
  margin-bottom: 9px;
  margin-top: 16px;
}

.cardsBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 32px;
  padding-left: clamp(10px,3.9%,40px);
  padding-right: clamp(10px,3.9%,40px);
}

.cardsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardBox {
  align-items: center;
  background-color: white;
  border: 1px solid #dfe4ea;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  height: 283px;
  justify-content: flex-start;
  margin: 5px 0;
  margin-right: 1px;
  width: clamp(590px,50%,630px);
  transition: all 0.3s;
}

.cardBox:hover {
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.5);  
}

.cardImage {
  background-size: cover;
  border-radius: 10px;
  height: 93%;
  position: relative;
  width: 47%;
}

.cardImage .image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.cardImage .iconHeart {    
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s;
  width: 25px;  
}

.cardImage {
  z-index: 90;
}

.iconHeart {
  z-index: 99;
}

/* cambiar color del corazon */
.heartColor{
  fill:white;
}

.heartColor2 {
  fill: red;
}

.cardImage .iconHeart:hover {
  transform: scale(1.1);
} 

.cardImage .iconHeart:active {  
  transform: scale(0.8);
}

.cardInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 93%;
  justify-content: space-between;
  margin-left: 4%;
  width: 47%;
}

.cardCategory {
  display: flex;
  font-size: var(--text3);
  text-transform: uppercase;
}

.cardCategory .star {
  width: 14px;
  height: 14px;
}

.cardCategory p,
.iconLocation {
  margin-right: 4px;
}

.cardName {
  font-size: var(--heading3);
  font-weight: var(--font-bold);
  max-width: 100%;
}

.cardHeaderBox {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardHeadline,
.cardScore {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardHeadline {
  max-width: 70%;
}

.cardScore {
  align-items: flex-end;
}

.cardScoreNumber{
    min-width: 45px;
}

.cardScore .iconEight {
  bottom: 5.5px;
  left: 23px;
  position: relative;
  z-index: 99;
}

.cardScoreWords {
  font-size: var(--text3);
  font-weight: var(--font-bold);
  overflow: hidden;
  white-space: nowrap;
}

.cardLocation {
  font-size: var(--text3);
  font-weight: var(--font-bold);
}

.cardLocation span {
  color: var(--primary-color);
  font-weight: var(--font-bold);
  margin-left: 3px;
  text-transform: uppercase;
}

.cardLocation span:hover {
  cursor: pointer;
}

.cardIcons {
  display: flex;
}

.cardIcons .iconSwimming {
  margin-left: 7px;
}

.cardDescription {
  font-size: var(--text3);
  font-weight: var(--font-bold);
  overflow: hidden;
  padding-top: 5px;
}

.cardDescription p {
  font-weight: var(--font-bold);
  max-height: 50px;
  overflow: hidden;
  padding: 0 2px;
}

.cardDescription span {
  color: var(--primary-color);
  font-weight: var(--font-bold);
  margin-left: 3px;
  margin-top: 8px;
}

.cardDescription span:hover {
  cursor: pointer;
}
.link{
  width: 100%;
}

.cardButton2 {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  color: white;
  font-size: var(--text3);
  font-weight: var(--font-bold);
  height: 40px;
  justify-content: center;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
}

.cardButton2:hover {
  transform: scale(1.02);
}

.cardButton2:active {  
  transform: scale(0.85);
}  

@media all and (max-width:1350px){
  .cardsBox{
    justify-content: center;
  }
}

@media all and (max-width: 769px) {
  .cardsBlock h2 {
    margin-left: 1.8%;  
  }
  .cardBox {
  max-width: 710px; 
  min-width: 585px;  
  width: 97vw;
  }

  .cardBox:nth-child(even) {
    margin-left: 0%;
  }

  .cardImage {
    height: 100%;
  }
}

@media all and (max-width: 610px){
  .cardsBlock h2 {
    margin-left: 0%;  
  }
  .cardBox {
    border: 0;
    height: 491px;
    justify-content: center;
    margin: 5px 0;
    min-width: 90vw;
    width: 95vw;
  }

  .cardImage{
    width: 100%;
    height: 47%;
  }
  .cardInfo{
    height: 47%;
    margin-left: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 92%;
  }

  .cardIcons {
    display: none;
  }

  .cardImage, .cardImage .image {
    border-radius: 0 0 10px 10px;
  }    
  
  .cardImage .image {
    top: -2px;
    z-index: 0;
  }
}