.container,
.categoryContainer {
  position: relative !important; 
  top: 80px !important;
}

@media all and (max-width: 769px) {
}

@media all and (max-width: 415px) {
  .container,
  .categoryContainer {
    position: relative !important;
    top: 93px !important;
  }
}
