@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700;900&display=swap');

:root {
    --primary-color: #F0572D;
    --secondary-color: #31363F;
    --tertiary-color: #191B1D;
    --quaternary-color: #DFE4EA;
    --heading1: 24pt;
    --heading2: 20pt;
    --heading3: 16pt;
    --heading4: 14pt;
    --button1: 14pt;
    --button2: 16pt;
    --text1: 14pt;
    --text2: 12pt;
    --text3: 10pt; 
    --font-bold: 700;
    --font-medium: 500;
    --font-regular: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif; 
}

body {
    background-color: var(--quaternary-color);
    overflow: inherit !important;    
}

.opacity{
    background-color: rgba(0,0,0, 0.4)
}

main {
    min-height: calc(100vh - 58px - 80px);
    padding-bottom: 58px;
    position: relative !important; 
    top: 80px !important;
}

.delimiter{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.delimiterChild{
    max-width: 1366px;
    min-width: 300px;
    width: 100%;
}



@media all and (max-width: 769px) {
    main{
    top: 99px !important;
    min-height: calc(100vh - 58px -93px);
  }
}

@media all and (max-width: 415px) {
    main{
    top: 93px !important;
    min-height: calc(100vh - 58px -93px);
  }

}
