/* Estilos de TOPBAR */

.titleBar{
    background-color: var(--tertiary-color);
    color: white;
}

.titleBar .titleBarChild{
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleBar .barraDer{
    pointer-events: all;
}

