/* Estilos de titleBar */

.titleBar{
    background-color: var(--tertiary-color);
    color: white;
}

.titleBar .titleBarChild{
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleBarChild div p {
    text-transform: uppercase;
}


/* Estilos de scoreBar */

.scoreBar{
    color:var(--secondary-color);
}

.scoreBar .scoreBarChild{
    height: 55px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scoreBar .barraIzq {
    display: flex;
    flex-direction: column;
    font-size: var(--text2);
    font-weight: var(--font-bold);
}

.scoreBar .barraDer {
    display: flex;
    align-items: center;
    font-weight: var(--font-bold);
}

.scoreBar .calificacionLetra{
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
}

.scoreBar .calificacionEntero{
    height: 100%;
    background: var(--secondary-color);
    padding: 8px 14px;
    color: white;
    border-radius: 10px;
    font-weight: var(--font-bold);
}

/* Estilos del Image card */

.imageBar{
    background-color: white;
}

.imageBarChild {
    display: flex;
    flex-direction: column;
}

.imageBar .barraSup {
    display: flex;
}

.imageBar .barraInf {
    display: flex;
    justify-content: center;
   
}

.imageBar .barraIzq {
    width: 45%;
}

.imageBar .barraIzq img{
    width: 100%;
 
}

.imageBar .barraDer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 45%;
   
}

.imageBar .barraDer img{
    width: 45%;
}

.imageBar .verMas{
    position: absolute;
    bottom: 0;
    right: -4px;
    text-decoration: underline;
    font-weight: var(--font-bold);
    font-size: var(--heading3);
    color: white;
}
