.footer {
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  height: 58px;
  justify-content: space-between;
  padding: 0 50px;
  bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.footerTittle {
  font-size: var(--heading4);
  font-weight: var(--font-bold);
}

.iconsImg {
  margin: 0 15px;
}

@media all and (max-width: 769px) {
  /*Footer */
}

@media all and (max-width: 415px) {
  /*Footer */
  .footer {
    padding: 0 19px;
    z-index: 99;
  }

  .icons {
    display: none;
  }
}
