header.header {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    height: 80px;
    justify-content: center;
    padding-top: 5px;
    position: fixed; 
    top:0;
    width: 100%;
    z-index: 100;
  
 
  }

  .headerTop{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: clamp(10px,3.9%,40px);
    padding-right: clamp(10px,3.9%,40px);
    width: 100%;
  }
  
  /* css contenedor logo  */
  header.header a {
    text-decoration: none;
  }
  
  div.buttons>a:first-child{
    margin-right: 10px;
  }

  .home div.logo {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  
  .home div.logo img {    
    width: 210px;
  }
  
  .home div.logo h3 {
    color: var(--tertiary-color);
    display: flex;
    font-size: var(--heading4);
    font-weight: var(--font-regular);    
    width: 270px;
  }
  
  /* css contenedor botones  */
  
  div.buttons {
    display: flex;
    padding-right: 8px;
  }
  
  div.buttons button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: var(--button1);
    font-weight: var(--font-bold);
    padding: 5pt;
    width: clamp(164px,22.2vw,206px);
  }

    
  div.buttons button:hover {
    background-color: var(--primary-color);
    color: white;
  }

  .hideButton{
    display:none;
  }
  
  /* css contenedor user  */
  
  div.user {
    display: none; 
  }
  
  /*Clase para que se vea el usuario en el header cuando inicia sesion*/
  div.loggedIn {
    display: flex;
  }
  
  div.user div {
    padding: 0 5px;
  }
  
  div.user div.logoName {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  div.user div.logoName p {
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: white;
    font-size: var(--heading2);
    font-weight: var(--font-bold);
    padding: 5px;
  }
  

  div.user div.text h3 {
    font-size: var(--heading3);
  }
  
  div.user div.text h3.great {
    opacity: 50%;
  }
  
  div.user div.text h3.name {
    color: var(--primary-color);
  }

  div.user div.text h4.seeFavourite {
    z-index : 100;    
  }

  div.user div.text h4.seeFavourite:hover {
    cursor:pointer;
    color:var(--primary-color);   
  }
  
  div.user div.close{
    font-size: 22px;
    font-weight: var(--font-bold);
    position: relative;
    right: 20px;
    top: -10px;
  }
  
  /* css contenedor mobile  */
  
  div.mobile {
    display: none; /* cambiar a block para mostrarlo */
    justify-content: center;
    margin-left: 20px;
  }


  
  /* media queries */
  
  @media all and (max-width: 769px) {
    /* Header */
    a.home div.logo h3 {
      display: none;
    }

    .home div.logo img {    
      width: 200px;
      
    }
  
    div.buttons button {
      width: 144px;
    }
    
    header.header{
      height: 99px;
      padding: 5px 4px;
    }

    div.user div.text h3 {
font-size: 12pt;
    }

    div.user div.logoName p {
      font-size: var(--heading4);
    }

    div.user div {
      padding: 0 2px;
    }

    .headerTop{
      padding-right: 0;
    }
    div.user div.text h4.seeFavourite {
      font-size: 10pt;
    }
  }
  
  @media all and (max-width: 415px) {
    /* Header */
  
    header.header {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
      height: 93px;
      padding: 5px 11px;
    } 
   
  
    div.buttons {
      display: none;
    }
  
    div.mobile {
      display: block;
    }

    div.loggedIn{
      display: none;
    }

    div.botones>a>p:hover{
      background-color: var(--primary-color);
      border-radius: 5px;
      color: white;
  
    }
  }