.inputLabel,
.formFlex {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.container h3 {
  color: var(--primary-color);
  font-size: var(--heading1);
  font-weight: var(--font-bold);
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
}

.formFlex {
  justify-content: space-between;
  width: 100%;
}

.fullName {
  display: flex;
  justify-content: space-between;
}

.inputLabel label {
  color: var(--secondary-color);
  font-size: var(--text2);
  font-weight: var(--font-medium);
}

.inputLabel {
  height: 65px;
  justify-content: space-between;
  align-items: center;
}

.inputLabel input,
.boton button {
  height: 40px;
  width: 468px;
  border-radius: 5px;
  border: 0;
  box-shadow: 1px 1px 2px 2px #d1cfcf;
}
.inputLabel input[type="text"] {
  width: 228px;
}

form ul {
  height: 20px;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.boton button,
.inputLabel p {
  width: 206px;
  align-self: center;
}

.boton {
  margin-top: 50px;
}

.inputLabel button {
  font-size: var(--button2);
  font-weight: var(--font-bold);
  background-color: var(--primary-color);
  color: white;
}
.inputLabel p,
.inputLabel p a {
  font-size: 12px;
  text-decoration: none;
}

.inputLabel p a {
  color: #4285f4;
}

/* media queries */

@media all and (max-width: 769px) {
  .inputLabel input,
  .boton button,
  .inputLabel input[type="text"] {
    width: 346px;
  }

  .fullName {
    flex-direction: column;
  }
  .container {
    /* justify-content: space-evenly; */
  }
}

@media all and (max-width: 415px) {
  .inputLabel input,
  .boton button,
  .inputLabel input[type="text"] {
    width: 300px;
  }
}
